[submodule "FCCAnalyses"]
	path = FCCAnalyses
  	url = git@github.com:Ang-Li-93/FCCAnalyses.git
  	branch = AngDev

[submodule "FCCAnalyses-winter2023"]
	path = FCCAnalyses-winter2023
	url = git@github.com:Ang-Li-93/FCCAnalyses.git
	
[submodule "FCC-config/winter2023"]
	path = FCC-config/winter2023
	url = git@github.com:Ang-Li-93/FCC-config.git
	branch = winter2023
[submodule "EventProducer"]
	path = EventProducer
	url = git@github.com:Ang-Li-93/EventProducer.git
	branch = SDCC
[submodule "CLDConfig"]
	path = CLDConfig
	url = git@github.com:Ang-Li-93/CLDConfig.git
	branch = main
[submodule "k4geo"]
	path = k4geo
	url = git@github.com:Ang-Li-93/k4geo.git
[submodule "k4Reco"]
	path = k4Reco
	url = git@github.com:Ang-Li-93/k4Reco.git
